<% provide(:title, 'Help')%>
<h1>Help</h1>
<p>Use foodundo.com to find the best restaurants near you.
</p>
<h2>Features include</h2>
<ul>
	<li>Rate and review restaurants based on taste, price and ambience.</li>
	<li>Follow, vote, and recommend restaurants to your friends</li>
	<li></li>

</ul>
